
.nav-image{
  display: flex;
  justify-content:space-around
}

.image{
  margin-left: 40px;
  width: 10%;
  display: flex;
  justify-content: center;
}

.image >img{
  width: 100%;
  height: 7rem;
}
.navbar{
  display: flex;
  width: 50%;
  margin-left: 30px;
}

nav{
  display: flex;
  align-items: center;
}
nav ul li{
  display: inline-flex;
  margin-left: 50px;
}

.add{
  /* border: 1px solid blueviolet; */
  width: 20%;
  display: flex;
  align-items: center;
}

.add ul li{
 list-style: none;
 margin-left: 70px;
}

/* Home css */
.org-title{
  width: 100%;
  height: 6rem;
  background-color: black;
}
.org-title h2{
  text-align: center;
  font-size:2rem;
  color: white;
}

.org-title-2 h3{
  text-align: center;
  font-size:1.5rem;
  color: rgba(191, 32, 32, 0.385);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-holder{
  /* border: 1px solid black; */
  width: 100%;
  height: 70vh;
}

.large-image{
  border: 1px solid blueviolet;
  width: 50%;
  height: 50vh;
  padding: 40px;
  border-radius: 30px;
  position: relative;
  left: 15%;
  top: 10%;
}

.mini-image{
  border: 1px solid blueviolet;
  width: 70%;
  height: 45vh;
  border-radius: 20px;
  position: relative;
  left: 70%;
}

.plan{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 600px;
  gap: 30px;
}

.one{
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}




@media (max-width: 767px) {
  body{
   background-color: hsla(100, 3%, 17%, 0.562);
  }
  .org-title{
   width: 129.5%;
   background-color: blue;
   /* margin-left: 15%; */
  
   
  }
  .org-title >h2{
   color: burlywood;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
  }

  .org-title-2{
   width: 129.5%;
   background-color: blue;
   /* margin-left: 15%; */
   
  }
  .org-title-2 >h3{
   color: burlywood;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .image-holder{
    width: 130%;
    height: 90vh;
   
  }
  
  .large-image{
    border: 1px solid brown;
    width: 50%;
    height: 50vh;
    padding: 40px;
    border-radius: 30px;
    position: relative;
    left: 4%;
    top: 10%;
  }
  
  .mini-image{
    border: 1px solid brown;
    width: 90%;
    height: 45vh;
    border-radius: 20px;
    position: relative;
    left: 81%;
  }

  .plan{
    width: 125%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 289px;
    gap: 20px;
  }
  
  .one{
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
   hr{
    display: none;
   }
   
   .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
    
  }
  
  .bar {
    width: 25px;
    height: 5px;
    background-color: black;
    margin-left: 460%;
    margin-top: 40%;
  }
  
  .navbar {
    display: flex;
  }


.nav-image{
  display: flex;
  width: 129vw;
  border: 1px solid black;
  justify-content:space-evenly;
}

.image{
  /* border: 1px solid blueviolet; */
  margin-left: 40px;
  width: 10%;
  display: flex;
  justify-content: center;
}

.image >img{
  width: 100vw;
  margin-right: 200px;
  height: 8rem;
}


.navbar {
  padding: 1px; 
  width: 100%;
}

nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  /* display: flex;  */
  /* justify-content: space-evenly;  */
}

nav ul li {
  margin:  1px; 
}

nav ul li a {
  text-decoration: none; 
  color: #333; 
  font-weight: bold; 
}

nav ul li a:hover {
  color: #007bff; 
}


}



@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: hsla(181, 77%, 39%, 0.518);
    top: 0;
    right: 0;
    height: 26%;
    width: 120px;
    transform: translateX(100%);
    transition: transform 0.7s ease-in-out;
    border-bottom-left-radius:60px ;

  }

  .navbar.open {
    transform: translateX(0);
  }

  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  nav ul li {
    margin: 5px 0;
  }
}


@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .image-holder{
    /* border: 1px solid black; */
    width: 100%;
    height: 70vh;
  }
  
  .large-image{
    /* border: 1px solid blueviolet; */
    width: 50%;
    height: 50vh;
    padding: 40px;
    border-radius: 30px;
    position: relative;
    left: 15%;
    top: 10%;
  }
  
  .mini-image{
    /* border: 1px solid blueviolet; */
    width: 70%;
    height: 45vh;
    border-radius: 20px;
    position: relative;
    left: 70%;
  }


  .plan{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 190px ;
    gap: 50px;
    margin-left: 20px;
  }

  .one{
    display: flex;
    justify-content: center;
    text-align: center;
  }


  /* .nav-image{
    width: 100vw;
    height: 9vh;
    display: flex;
  }

  .image{
    width: 15%;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 1px;
  } */

  /* .navbar{
    width: 90%;
    margin-left: 0%;
    border: 1px solid black;
    margin-top: 10px;
    
  }

  .navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

    .exist{
      display: none;
    }


    .navbar ul li a{
      text-decoration: none;

    } */
    .hamburger {
      display: flex;
      cursor: pointer;
      flex-direction: column;
      gap: 4px;
      
    }
    
    .bar {
      width: 25px;
      height: 5px;
      background-color: black;
      margin-left: 460%;
      margin-top: 40%;
    }
    


    /* .hamburger {
      display: flex;
    } */
  
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      /* justify-content: center; */
      background-color: hsla(181, 77%, 39%, 0.518);
      top: 0;
      right: 0;
      height: 26%;
      width: 120px;
      transform: translateX(100%);
      transition: transform 0.7s ease-in-out;
      border-bottom-left-radius:60px ;
  
    }

    .image >img{
      width: 100vw;
      margin-right: 200px;
      height: 10rem;
    }
  
    .navbar.open {
      transform: translateX(0);
    }
  
    nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      width: 100%;
    }
  
    nav ul li {
      margin: 5px 0;
    }

    


}


@media only screen and (min-width: 1024px) {
  body{
    background-color: #333;
  }


  .nav-image{
    width: 100vw;
    border: 1px solid blueviolet;
  }

  .image{
    width: 11%;
  }

  .navbar{
    width: 89vw;
  }

  .image >img{
    width: 100vw;
    /* margin-right: 200px; */
    height: 10rem;
  }

  .navbar ul li a{
    text-decoration: none;
  }

  .plan{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 320px;
    gap: 20px;
  }


  hr{
    display: none;
  }
}


@media only screen and (min-width: 1200px) {
 
  .org-title{
    width: 100vw;
  }

  .plan{
    width: 100vw;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px;
    gap: 40px ;
    justify-content: center;
  }

  .image >img{
    width: 100%;
    height: 8rem;
  }

}
