.happenings{
    background-color: black;
    overflow-x: hidden;
}
.who{
    color: white;
}
.whodesc{
    color: white;
}
.whodesc >p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.team-members{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 300px 300px 300px;
    border: 1px solid white;
    gap: 20px;
}

.members{
    border: 1px solid white;
    box-shadow: 20px 40px 70px;
    color: white;
}

.members .name{
    display: flex;
    justify-content:start;
    text-align: end;
}

@media(max-width:767px){
    .happenings{
        width:129.5%;
    }

    .team-members{
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        padding: 2rem 0;
        gap: 2rem;

        /* height: min-content;
        padding: 2rem;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem; */

    }
    .members{
        width: 80%;
        height: 84vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mem-image{
        width: 90%;
        height: 50%;
        border: 1px solid black;
        border-radius: 1rem;
    }
    /* .members{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    .mem-image{
       width: 90%;
       height: 30vh;
       border: 1px solid white;
       display: flex;
       justify-content: center;
       border-radius: 20px;
       
    } */
    .mem-image >img{
        width: 100%;
        height: 50vh;
        border-radius: 20px;
    }

    .name> p{
        color: hsl(220, 82%, 39%);
        /* font-weight: bolder; */
        font-size: 15px;
        /* font-variant: small-caps; */
        margin-top: 5.8rem;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .happenings{
        width: 100vw;
    }

    .team-members{
        width: 100vw;
        height: auto;
        display: grid;
        grid-template-columns:300px 300px ;
        grid-template-rows: 350px 350px 350px ;
        /* overflow-x: hidden; */
    }
    .members{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    .mem-image{
       width: 90%;
       height: 30vh;
       border: 1px solid white;
       display: flex;
       justify-content: center;
       border-radius: 20px;
       
    }
    .mem-image >img{
        width: 100%;
        height: 20vh;
        border-radius: 20px;
    }
}



@media only screen and (min-width: 1200px){
    .happenings{
        width: 100vw;
    }

    .team-members{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 330px 330px ;
        grid-auto-rows: 330px;
    }

     .members .name{
        display: flex;
        justify-content: center;
        line-height: 9px;

    }

    .members{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }
    .mem-image{
       width: 50%;
       height: 80vh;
       border: 1px solid white;
       display: flex;
       justify-content: center;
       border-radius: 20px;
       
    }
    .mem-image >img{
        width: 100%;
        height: 30vh;
        border-radius: 20px;
    }
}